<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBongDa.Properties.Settings.QLGVDBDQGConnectionString"
            connectionString="Data Source=DESKTOP-EHFOHPL\LEQUOCANH;Initial Catalog=QLGVDBDQG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>